**/__pycache__
**/*.pyc
**/*.class
**/*.lst
**/*.csv
**/*.tsv
/docs/
/independent/data/*/*.csv
/independent/data/*/folds/
/independent/data/*/graphlab/
/independent/data/*/preprocess/
/independent/output/*/images/
/independent/output/*/models/
/independent/output/*/predictions/
/independent/output/*/features/*.pkl
/independent/output/*/features/*.npz
/relational/psl/data/
/relational/output/
/relational/tuffy/out.map
/relational/tuffy/out.marginal
/relational/tuffy/*evidence.txt
/relational/tuffy/*query.txt
/relational/tuffy/*.jar
/relational/tuffy/log
.coverage
